// const formatTime = date => {
//   const year = date.getFullYear()
//   const month = date.getMonth() + 1
//   const day = date.getDate()
//   const hour = date.getHours()
//   const minute = date.getMinutes()
//   const second = date.getSeconds()

//   return `${[year, month, day].map(formatNumber).join('/')} ${[hour, minute, second].map(formatNumber).join(':')}`
// }

// const formatNumber = n => {
//   n = n.toString()
//   return n[1] ? n : `0${n}`
// }

var formatMonth = function (number){
  if(number<10) return '0'+number;
  else return number;
}
// var formatVideoUrl = function (vid,urls){
//   var length = urls.length;
//   for(var i = 0;i<length;i++){
//     if(urls[i].id === vid) return urls[i].url;
//     else return ''
//   }
// }

var formatCount = function (count) {
  if(count<100000){
    return count+"";
  }else if(count>10000 && count<100000000){
    count = Math.ceil(count/10000);
    return count+"万"
  }else{
    count = Math.ceil(count/100000000)
    return count+"亿"
  }
}
var formatSinger = function(ar){
  var name = "";
  for(var i=0;i<ar.length;i++){
    if(i !== ar.length-1){
      name = name+ar[i].name+"/"
    }else{
      name = name+ar[i].name
    }
  }
  return name;
}
var formatReason = function (id,reasonArr){
  for(var i=0;i<reasonArr.length;i++){
    if(reasonArr[i].songId === id){
      return reasonArr[i].reason;
    }
  }
  return null;

}

module.exports = {
  // formatTime
  formatCount:formatCount,
  formatSinger:formatSinger,
  formatReason:formatReason,
  formatMonth:formatMonth
}
